html {
  font-size: 10px;
}

body {
  font-weight: bold;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
}

ul {
  height: 100%;
}

li {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

img {
  width: 80%;
}

.wrapper {
  max-width: 80vw;
  margin: 0 auto;
}

.accordion-item__input {
  opacity: 0;
  display: none;
}

.accordion-item__trigger {
  display: block;
  padding: 20px;
  border: 1px solid gray;
}
.accordion-item__content {
  padding: 5px;
  display: flex;
  height: 0;
  opacity: 0;
}

.accordion-item__input:checked ~ .accordion-item__trigger {
  color: black;
}
.accordion-item__input:checked ~ .accordion-item__content {
  justify-content: center;
  opacity: 1;
  height: auto;
  transition: all 1s ease-in-out;
}

@media (min-width: 450px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
  body {
    font-size: 2rem;
  }
  .wrapper {
    max-width: 60vw;
    margin: 0 auto;
  }
  .accordion-item__trigger {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion_xmark {
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/plus.svg);
    background-repeat: no-repeat;
    display: block;
    transition: all 0.2s ease-in-out;
    opacity: 0;
  }

  .accordion-item__input:checked ~ * .accordion_xmark {
    background-image: url(./assets/icons/xmark.svg);
    background-repeat: no-repeat;
  }

  .accordion:hover .accordion_xmark {
    opacity: 1;
  }

  .accordion-item__content img {
    cursor: pointer;
    width: 45%;
  }
  .accordion-xmark {
    width: 16px;
  }

  .accordion {
    cursor: pointer;
    color: blue;
  }
  .accordion:hover {
    color: black;
  }
}
